In [1]:
import pandas as pd
import numpy as np
series = pd.Series([20, 21, 12], index=['London', 'New York','Helsinki'])

In [2]:
series

London      20
New York    21
Helsinki    12
dtype: int64

In [3]:
def square(x):
    return x**2
series.apply(square)

London      400
New York    441
Helsinki    144
dtype: int64

In [4]:
df = pd.DataFrame({'a': [1,2,3], 'b': [2,3,4]})
df

   a  b
0  1  2
1  2  3
2  3  4

In [5]:
df.apply(square)

   a   b
0  1   4
1  4   9
2  9  16

In [8]:
print (df.a)
print (df.b)
print (df.a+df.b)

0    1
1    2
2    3
Name: a, dtype: int64
0    2
1    3
2    4
Name: b, dtype: int64
0    3
1    5
2    7
dtype: int64

In [13]:
def myAdd(x):
    return x['a']+x['b']

In [14]:
df.apply(myAdd)

KeyError: ('a', 'occurred at index a')